@import "tailwindcss";
@plugin "daisyui" {
    themes: dark --default;
}

@utility drag-none {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

body {
    margin-top: 30px;
}

html, body {
    overscroll-behavior: none;
}

:root:has(
    .modal-open,
    .modal[open],
    .modal:target,
    .modal-toggle:checked,
    .drawer:not(.drawer-open) > .drawer-toggle:checked
)
.titlebar
> div {
    opacity: 0;
}

.frosted {
    background: rgba(28, 34, 41, 0.59);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    border: 1px solid rgba(28, 34, 41, 0.12);
}

.dark-frosted {
    background: rgba(28, 34, 41, 0.9);
}

.no-scrollbar {
    scrollbar-width: none;
}

:root {
    touch-action: pan-x pan-y; 
}