@import "tailwindcss";
@plugin "daisyui" {
    themes: dark --default;
}

.frosted {
    background: rgba(28, 34, 41, 0.59);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(28, 34, 41, 0.12);
}

.dark-frosted {
    background: rgba(28, 34, 41, 0.9);
}